.notFound__wrapper img {
	width: 420px;
}

.notFound__title {
	font-size: 45px;
	color: #35858b;
}
.notFound__btn {
	background-color: #35858b;
	color: #fff;
}
.notFound__btn:hover {
	background-color: #245b5f;
	color: #fff;
	transition: background-color 0.3s ease;
}
