.banner {
	width: 100%;
	height: 500px;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.4) 100%),
		url("http://localhost:3000/Assets/banner.jpg");
	background-size: cover;
	background-position: center;
}

.banner__wrapper {
	height: 100%;
}
.banner__title {
	font-size: 48px;
}
.form {
	width: 100%;
}
#banner__btn {
	background-color: #35858b;
	width: 100%;
}
#banner__btn:hover {
	transition: background-color 0.3s ease;
	background-color: #245b5f;
}
.btn-search {
	font-size: 24px;
	font-weight: bold;
	color: #fff;
}

/* ======================================================= */
/* SECTION MARKETING */
.marketing__title {
	color: #35858b;
}
.marketing__btn {
	background-color: #35858b;
}
.marketing__btn:hover {
	transition: background-color 0.3s ease;
	background-color: #245b5f;
}

/* ======================================================= */
/* PROJECTS */
.projects {
	min-height: 100vh;
}
.projects .card {
	width: 325px;
	height: 520px;
}
.projects .projects__wrapper {
	width: 100%;
}
.projects .projects__wrapper #img-property {
	max-height: 250px;
}
.avatar-agency {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	object-fit: cover;
	object-position: center;
	background-color: #c3c3c3;
}
.text-purpose {
	color: #35858b;
}
.projects__wrapper .projects__propery button {
	background-color: #35858b;
	color: #fff;
}
.projects__wrapper .projects__propery button:hover {
	transition: background-color 0.3s ease;
	background-color: #245b5f;
}

/* PRELOAD */
.projects .projects__wrapper .placeholder {
	background-color: #e0e0e0;
	animation: placeholder 3s infinite;
}
.projects .projects__wrapper .placeholder .card-title,
.projects .projects__wrapper .placeholder .text-purpose,
.projects .projects__wrapper .placeholder .card-text {
	background-color: #9b9b9b;
	width: 100%;
	height: 15px;
}
.projects .projects__wrapper .placeholder #img-property {
	background-color: #9b9b9b;
	height: 220px;
}

@keyframes placeholder {
	0% {
		background-color: #e0e0e0;
	}
	50% {
		background-color: #cfcfcf;
	}
	100% {
		background-color: #e0e0e0;
	}
}

/* ======================================================= */
/* SECTION SERVICES */
.services {
	overflow: hidden;
	box-sizing: border-box;
}
.services__advice {
	height: 500px;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.4) 100%),
		url("http://localhost:3000/Assets/agent.jpg");
	background-size: cover;
	background-position: center;
	padding-left: 30px;
	padding-top: 30px;
}
.services__advice h2 {
	color: #fff;
	font-size: 45px;
}
.services__advice p {
	color: rgb(207, 207, 207);
	font-size: 22px;
	line-height: 25px;
}
.services__advice button {
	background-color: #35858b;
	color: #fff;
}
.services__advice button:hover {
	background-color: #245b5f;
	color: #fff;
	transition: background-color 0.3s ease;
}

.services__more {
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.7) 100%),
		url("http://localhost:3000/Assets/study.jpg");
	background-size: cover;
	background-position: center;
}
.services__more div {
	padding-left: 30px;
	padding-top: 30px;
	height: 250px;
}
.services__more div h3 {
	color: #fff;
}
.services__more div p {
	color: rgb(207, 207, 207);

	font-size: 18px;
	line-height: 22px;
}

/* ======================================================= */
/* BUILDERS */
.builders__title {
	text-transform: uppercase;
	color: #35858b;
}
.builders__logos .logo {
	width: 200px;
	height: 200px;
	border-radius: 50%;
}
.builders__logos .logo img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	animation: placeholder 3s infinite;
}
